<%= form_for [@user, @transfer] do |f| %>
	<p>
	U, <%= @user.user_name %>, wilt MONEY
	<%= f.number_field :amount, :step => 0.01 %>
	overmaken naar
	<%= f.text_field :recipient_id %> ?! <br/>	
	<%= f.submit 'Ja.' %>
	</p>
<% end %>